<%- include("partials/header") %>

<h1 class="post__title"> <%=postTitle %></h1>

<span class="post__author"> Published: <%= postDate.toLocaleDateString("en-EN", {weekday: "long", year:"numeric", month: "long", day: "numeric"}) %>  by <Strong> <%=postAuthor %> </Strong></span>

<p class="post__content"><%= postContent%></p>

<%- include("partials/footer") %>